body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1698px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:99px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:54px;
  width:104px;
  height:99px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#CC0000;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:59px;
  width:464px;
  height:90px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#CC0000;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:44px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:70px;
  width:53px;
  height:44px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:124px;
  width:48px;
  height:17px;
  color:#CC0000;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:124px;
  width:46px;
  height:17px;
  color:#CC0000;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:1577px;
  top:124px;
  width:71px;
  height:17px;
  color:#CC0000;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:46px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:1472px;
  top:68px;
  width:54px;
  height:46px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:46px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:1583px;
  top:68px;
  width:54px;
  height:46px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1698px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1698px;
  height:44px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1698px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:857px;
  width:1698px;
  height:44px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:870px;
  width:95px;
  height:20px;
  color:#FFFFFF;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:870px;
  width:107px;
  height:20px;
  color:#FFFFFF;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  white-space:nowrap;
}
#u663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CC0000;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:200px;
  width:782px;
  height:66px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CC0000;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  word-wrap:break-word;
}
#u664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:276px;
  width:1280px;
  height:188px;
  font-size:28px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  word-wrap:break-word;
}
#u665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:54px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:581px;
  width:306px;
  height:54px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:302px;
  word-wrap:break-word;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:89px;
  width:484px;
  height:38px;
}
#u666_input {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:77px;
  width:50px;
  height:50px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:7px;
  width:227px;
  height:31px;
  font-size:18px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:223px;
  word-wrap:break-word;
}
